doctype html
html
  head
    title Harry Dance Academy
    block scripts
    block style   
  body
    block content
    footer#footer
      | Copyright 2020  WorldDanceAcedemy.com | All Rights Reserved



 