<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stat/style.css">
</head>
<body>

    <nav id="navbar">
    <ul>

        <div id="logo">   
        <!-- <img src="/stat/img/logo.jpg.jpg" alt="" >    -->
        </div> 
        <li> <a href="/"> Home</a> </li>
        <li><a href="/about">About</a> </li>
        <li><a href="/contact">Contact</a> </li>
        <li><a href="/services">Services</a> </li>
    </ul>
        </nav>
    <h1> CONTACT FORM</h1>
    <form action="/contact" method="post" id="form">
    <input type="text" class="myinput" name="name" placeholder="Enter Your name"> 
    <input type="text" class="myinput" name="age" placeholder="Enter Your Age"> 
    
    <input type="text" class="myinput" name="city" placeholder="Enter Your city name"> 
    
    <input type="text" class="myinput" name="achievements" placeholder="Enter Your Achievements"> 
    <input type="text" value="" name="gender" placeholder="Enter your age">
    <button id="btn">SUBMIT</button>

    </form>
      <footer id="footer" style="height: 40%; margin: 9% 4px;" >
      | Copyright 2020  WorldDanceAcedemy.com | All Rights Reserved
    </footer>
</body>
</html>